
.menu-card{
    background-color: white;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 5px 1px #172c66;
    border: 0.5px solid #808080;
}

.menu-card:hover{
    box-shadow: -5px 5px 5px 1px #000000;
    cursor: pointer;
}

.menu-icon{
    height: 100px;
    display: block;
    margin: 10px auto;
}

.menu-title{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.menu-description{
    font-size: 12px;
    margin-top:0px;
}

.menu-order-btn{
    background-color: #ee2b75;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1px 10px;
    display: block;
    margin: 10px auto;
}

.menu-order-btn:hover{
      transition: 0.5s;
      border-radius: 25px;
      cursor: pointer;
}

.menus-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.break-name{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.break-img{
    height: 50px;
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 10px;
}
    
.Quick{
    background-color:#f582ae;
    padding: 30px;
    cursor: pointer;
}

.address-a{
    color: beige;
    font-size: 40px;
}

.address-b{
    color:beige;
    font-size: 20px;
}

.number{
    font-size: 30px;
    margin: 5px;

}