@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Han+Sans&family=Black+Ops+One&family=Dancing+Script&display=swap');

body{
    background-color: #fef6e4;
    margin: 0px;
    padding: 0px;
}

.dancing-script{
    font-family: 'Dancing Script', cursive;
}

.bg-light{
    background-color:#fef6e4;
}

.bg-primary{
    background-color: #f582ae;
}

.bg-secondary{
    background-color: #2d929f;
}

.text-primary{
    color: #001858;
}

.text-secondary{
    color: #8bd3dd;
}

.text-dark{
    color: #f582ae;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px #f3d2c1;
    color: #001858;
    text-decoration: none;
    margin-top: 10px;
}

.btn-primary{
    background-color:#f582ae;
}

.btn-secondary{
    background-color: #df7b29a1;
}

.no-underline{
    text-decoration: none;
}

.fs-50{
    font-size: 50px;
}